#carousel {
    width: 720px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#carousel img {
    object-fit: cover;
}
#carousel .slides {
    margin: 0;
    padding: 0;
    display: block;
    height: 400px;
    width: 3600px;
    
}
#carousel .slide {
    list-style-type: none;
    float: left;
    width: 720px;
    height: 400px;
}

#indicators {
    position: absolute;
    bottom: 0;
    left 50%;
}

#indicators .indicator {
    float: left;
    list-style-type: none;
    padding: 0 10px;
    height: 5px;
    width: 10px;
    background-color: #fff;
}